.App {
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: repeat(12, 1fr);
}

.header,
.footer {
  text-align: center;
  background-color: brown;
  overflow: auto;
  color: #ffffff;
  grid-column: 1 / -1;
}

main {
  grid-column: 4 / 10;
}